// Define variables for your color scheme

// For example:
$red: #FD0130;
$blue: #02D7F2;
$yellow: #FFEE08;
$orange: #E67E22;
$green: #1EDD88;
$gray: #E5E5E5;
$light-gray: #F4F4F4;
$dark-blue: #162252;
$black: #010101;
$purple: #f92ff2;