// Define variables for your color scheme

// For example:
$orange: #E67E22;
$green: #1EDD88;
$gray: #E5E5E5;
$light-gray: #F4F4F4;
$dark-blue: #162252;
$black: #010101;

// Colors

// Main Colors (500):
$blue: #216BD6;
$yellow:#EBDF26;
$teal:#27DAE5;
$purple:#AF2BE0;
$pink:#E933A9;
$red:#EB2150;

// Blues:
$blue100: #D7E8FF;
$blue200: #65A1F5;
$blue300: #4E94F5;
$blue400: #3682ED;
$blue600: #0A5ACB;
$blue700: #0B4699;
$blue750: #01347D;
$blue800: #143666;
$blue900: #0D2240;

// Yellows:
$yellow100: #FFFDD7;
$yellow200: #F5ED65;
$yellow300: #F5EC4E;
$yellow400: #EDE436;
$yellow600: #CBC10A;
$yellow700: #99920B;
$yellow750: #7D7601;
$yellow800: #666214;
$yellow900: #403D0D;

// Teals:
$teal100: #D7FCFF;
$teal200: #65EBF5;
$teal300: #4EE9F5;
$teal400: #36E1ED;
$teal600: #0ABECB;
$teal700: #0B9099;
$teal750: #01747D;
$teal800: #146166;
$teal900: #0D3C40;

// Purples:
$purple100: #F4D7FF;
$purple200: #CE65F5;
$purple300: #C84EF5;
$purple400: #BC36ED;
$purple600: #980ACB;
$purple700: #730B99;
$purple750: #5C017D;
$purple800: #501466;
$purple900: #320D40;

// Pinks:
$pink100: #FFD7F1;
$pink200: #F565C2;
$pink300: #F54EBA;
$pink400: #ED36AD;
$pink600: #E933A9;
$pink700: #CB0A88;
$pink750: #7D0151;
$pink800: #661449;
$pink900: #400D2E;

// Reds:
$red100: #FFD7E1;
$red200: #F56586;
$red300: #F54E75;
$red400: #ED3661;
$red600: #CB0A37;
$red700: #990B2C;
$red750: #7D011E;
$red800: #661427;
$red900: #400D19;
