<%= render "shared/search" %>
  <div class="row justify-content-center">
    <h1>Our offers in Dimensional experiences</h1>
    <hr>
  

        <div id="dimensions">
          <% if @dimensions.any? %>
             <%= render "shared/card" %>
          <% else %>
            <em>Sorry, no dimensions available.</em>
          <% end %>
        </div>
  </div>
