<h1>Thanks! Your new Dimension has been created! </h1>
<%# <h4>use "cl_image_tag @dimension.photo.key, height: 300, width: 400, crop: :fill" to display the img of the thingy here</h4> %>
<% if @dimension.photo.key %>
<%= cl_image_tag @dimension.photo.key, height: 400, width: 400, crop: :fill %>
<% end %>
