<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column banner-style">
  <main class="px-3">
    <h1>Cover your page.</h1>
    <p class="lead">Cover is a one-page template for building simple and beautiful home pages. Download, edit the text, and add your own fullscreen background photo to make it your own.</p>
    <p class="lead">
      <a href="#" class="btn btn-lg banner-btn fw-bold border-white">Learn more</a>
    </p>
        <div>
      <h3 class="float-md-start mb-0">Cover</h3>
      <nav class="nav nav-masthead justify-content-center float-md-end">
        <a class="nav-link fw-bold py-1 px-0 active" aria-current="page" href="#">Login</a>
        <a class="nav-link fw-bold py-1 px-0" href="#">Data Range</a>
        <a class="nav-link fw-bold py-1 px-0" href="#">Search</a>
      </nav>
    </div>
  </main>

</div>
