<div class="cover-container d-flex w-100 p-3 mx-auto flex-column banner-style justify-content-center">
  <main class="px-3">
    <h1>Dimensional Haul</h1>
    <p class="lead">An experience to remember</p>
    <p class="lead">
      <%= link_to "Learn more", dimensions_path, class: "btn btn-lg banner-btn fw-bold border-white" %>
    </p>
        <div>
      <%# <h3 class="float-md-start mb-0">Cover</h3> %>
    </div>
  </main>

</div>
