<div class="cover-container d-flex w-100 p-3 mx-auto flex-column banner-style justify-content-center" data-controller="home-banner">
  <main class="px-3 banner-text-layout">
    <h1 class="fadee">Dimensional Haul</h1>
    <p class="lead fadeee"></p>
    <%= link_to "STEP THROUGH", dimensions_path, class: "btn btn-lg fw-bold border-white",
    id: "banner-btn",
    data: { action: "mouseover->home-banner#zoom" } %>
  </main>

</div>
