<div class="footer mt-auto py-3">
  <div class="footer-links">
    <a href="https://github.com/fpalou/Dimensional_Haul"><i class="fab fa-github"></i></a>
    <a href="https://dimensional-haul-623e2c8f5718.herokuapp.com/"><i class="fab fa-k"></i></a>
    <a href="https://www.figma.com/file/6n1gVK8bOPRqLdhaz4mB2D"><i class="fa-solid fa-pen-fancy"></i></a>
  </div>
  <div class="footer-contact">
    <p> Contact us <i class="fa-solid fa-envelope"></i></p>
  </div>
</div>
