<div class="footer">
  <div class="footer-links">
    <a href="https://github.com/fpalou/Dimensional_Haul"><i class="fab fa-github"></i></a>
    <a href="https://dimensional-haul-623e2c8f5718.herokuapp.com/"><i class="fab fa-k"></i></a>
    <a href="https://www.figma.com/file/6n1gVK8bOPRqLdhaz4mB2D"><i class="fa-solid fa-pen-fancy"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    <p>This fun footer was made with <i class="fas fa-heart"></i> by the Dimensional Haul people</p>
  </div>
</div>
