.btn{
  border-radius: 5px;
  color: $gray;
}

.btn-purple {
  background-color: $pink;
  border-color: 2px solid $yellow;
  color: $gray;
}

.btn-teal {
  background-color: $teal;
  border-color: 2px solid $yellow;
  color: $red900;
  color: $dark-blue;
}
