// --------- CARD PRODUCT ----------

.card-product {
  overflow: hidden;
  height: 200px;
  width: 350px;
  background: $black;
  box-shadow: 0 0 8px $blue;
  display: flex;
  align-items: center;
  margin: 0px;
  padding: 16px;
  border-radius: 8px;
  border: 1px solid, $purple;
  width: 100%;
}

.card-product img {
  height: 200px;
  width: 200px;
  object-fit: contain;
  padding: 8px;
  border-radius: 8px;
}


.card-product h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
  color: $yellow;
}

.card-product h3 {
  font-size: 14px;
  margin: 0px;
  color: $yellow
}

.card-product h4 {
  font-size: 14px;
  margin: 0px;
  color: $pink}


.card-product p {
  font-size: 12px;
  font-weight: bold;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 10px;
  color: $light-gray
}

.card-product a {
  text-decoration: none;
  color: $blue;
}

.card-product .btn {
  color: $red900;
  margin-top: 8px;
}

.card-product a:hover {
  color: $purple;
}

.card-product .card-product-infos {
  padding: 16px;
}

// ------ CARD INFO ------

.card-info {
  overflow: hidden;
  height: 200px;
  width: 350px;
  background: $red100;
  box-shadow: 0 0 8px $blue;
  display: flex;
  align-items: center;
  margin: 0px;
  padding: 16px;
  border-radius: 8px;
  border: 1px solid, $pink;
}

.card-info img {
  height: 100%;
  width: 100%;
  object-fit: contain;
  padding: 8px;
  border-radius: 8px;
}


.card-info h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
  color: $blue900;
}


.card-info h3 {
  font-size: 14px;
  margin: 8px;
  color: $yellow
}



.card-info p {
  font-size: 12px;
  font-weight: bold;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 10px;
  color: $purple900;
}

// ------- CARD HOME --------
.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 16px;
  background-color: $dark-blue;
}

.home-card {
  display: grid;
  grid-template-rows: auto 1fr;
  overflow: hidden;
  background: $black;
  box-shadow: 0 0 8px $blue;
  margin: 0 auto;
  padding: 16px;
  border-radius: 8px;
  border: 1px solid $purple;
  width: 450px;
  height: 550px;
}

.home-card img {
  max-width: 420px;
  max-height: 320px;
  border-radius: 8px;
  justify-self: center;
}


.home-card .btn {
  color: $red900;
  margin-top: 8px;
}

.home-card a:hover {
  color: $black;
  background-color: $pink600;
}

// ----- CARD DIMENSION -----
.card-dimension-profile {
  display: grid;
  grid-template-rows: auto 1fr;
  overflow: hidden;
  background: $black;
  box-shadow: 0 0 8px $blue;
  margin: 0;
  padding: 16px;
  border-radius: 8px;
  border: 1px solid $purple;
  width: 185px;
  height: 185px;
}

.card-dimension-profile img {
  max-width: 100px;
  max-height: 100px;
  border-radius: 8px;
  justify-self: center;
  align-self: center;
}

.card-dimension-profile h2 {
  font-size: 14px;
  font-weight: bold;
  margin: 4px;
  color: $yellow;
  text-align: center;
}

.card-dimension-profile h3 {
  font-size: 10px;
  margin-top: 8px;
  margin-left: 0px;
  color: $yellow
}

.card-dimension-profile p {
  font-size: 10px;
  font-weight: bold;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 10px;
  color: $light-gray;
}

.card-dimension-profile .card-product-infos {
  padding: 24px;
}