.confo {
  background-color: $dark-blue;
  border-color: 2px solid $yellow;
  margin: 10px auto;
}


.form-control{
  background-color: $gray;
}

h1{
  color: $pink;
}


p {
  color: $gray;
}

h2 {
  color: $yellow;
}
