.navbar-lewagon {
  justify-content: center;
  background: $dark-blue;
  h1{
    color: $yellow;
    font-weight: 600;
    letter-spacing: 0.05em; // spacing between letters for readability
    text-shadow: 2px 2px 8px $teal; // adjust these values as needed

  }
  a{
    color: $yellow;
  }
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;

}

.navbar-lewagon .navbar-brand img {
  width: 70px;
  border-radius: 10px;
}

.nav-link {
  color: $pink;
  font-weight: bold;
  padding: 0.5rem 1rem;
  transition: color 0.2s;
}
.profilepic{

}
