.navbar-lewagon {
  justify-content: center;
  background: $dark-blue;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 70px;
  border-radius: 10px;
}

.nav-link {
  color: $purple;
  font-weight: bold;
  padding: 0.5rem 1rem;
  transition: color 0.2s;
}
